body{
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 90%; 
}

.header{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #A74444;
}

#webpagelogo{
    grid-column-start: 1;
}

#webpagelogo img{
    width: 4rem;
    height: 4rem;
}

#navbar{
    display: flex;
    justify-content: center;
}

#navbar img{
    width: 4rem;
    height: 4rem;
}

#user{
    display: flex;
    justify-content: flex-end;
}

#user img{
    width: 4rem;
    height: 4rem;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: linear-gradient(#A74444, #FF6868);
}

#leftSideNavBar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#leftSideNavBar ul {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

#leftSideNavBar ul li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#leftSideNavBar ul li img{
    width: 2rem;
    height: 2rem;
}

.body{
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
}

#searchbar{
    width: 100%;
    display: grid;
    grid-template-rows: 75% 25%;
    row-gap: 1rem;
}

#searchbar input{
    border-style: solid;
    border-color: black;
    border-radius: 0.5rem;
}

#searchbar div{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.cardsContainer{
    display: block;
    margin: 0 auto;
    text-align: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
    white-space: normal;
    width: 100%;
}

.cardScroll{
    width: 85%;
    border-style: dashed;
    border-color: #B2B0FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    justify-content: center;
}

.rightColumn{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(#A74444, #FF6868);
}

#sponsors{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sponsorImg img{
    height: 15rem;
    width: 20rem;
}

#bestBooksContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
}

#bestScoreCard{
    display: flex;
    flex-direction: row;
    align-items: center;
}


#bestScoreCard img{
    width: 2rem;
    height: 2rem;
}

.cardBody{
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
}

.cardLeftPart{
    border-style: dashed;
    border-color: #B2B0FF;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.bookImg img{
    height: 10rem;
    width: 5rem;
}

.bookGenre ul li{
    margin-right: 3rem;
    font-size: 1.5rem;
    list-style-type: none;
}

.cardRightPart{
    display: flex;
    flex-direction: column;
}

.bookTitle{
    display: flex;
    justify-content: flex-start;
    font-size: 1.6rem;
}

.bookSummary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bookSummary h5{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.userProfile img{
    width: 2rem;
    height: 2rem;
}

.userRating{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.userRating img{
    width: 1rem;
    height: 1rem;
}

.username{
    display: flex;
    margin-left: 0.5rem;
}

.userInfo{
    display: flex;
    justify-content: center;
}

#topMenu{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background: linear-gradient(#A74444, #FF6868);
    color: white;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background: linear-gradient(#A74444, #FF6868);
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

#reseñaForm{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.formLabels{
    display: flex;
    flex-direction: column;
    width: 50%;
}

button{
    color: white;
    background: linear-gradient(#A74444, #FF6868);;
    border-width: 0;
    border-radius: 0.3rem;
}