body{
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 90%; 
}

.header{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #A74444;
}

#webpagelogo{
    grid-column-start: 1;
}

#webpagelogo img{
    width: 4rem;
    height: 4rem;
}

#navbar{
    display: flex;
    justify-content: center;
}

#navbar img{
    width: 4rem;
    height: 4rem;
}

#user{
    display: flex;
    justify-content: flex-end;
}

#user img{
    width: 4rem;
    height: 4rem;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: linear-gradient(#A74444, #FF6868);
}

#leftSideNavBar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#leftSideNavBar ul {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

#leftSideNavBar ul li img{
    width: 2rem;
    height: 2rem;
}

.body{
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
}

#searchbar{
    width: 100%;
    display: grid;
    grid-template-rows: 75% 25%;
    row-gap: 1rem;
}

#searchbar input{
    border-style: solid;
    border-color: black;
    border-radius: 0.5rem;
}

#searchbar div{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.cardsContainer{
    display: block;
    margin: 0 auto;
    text-align: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
    white-space: normal;
}

.cardScroll{
    width: 85%;
    border-style: dashed;
    border-color: #B2B0FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    justify-content: center;
}

.rightColumn{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(#A74444, #FF6868);
}

#sponsors{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sponsorImg img{
    height: 15rem;
    width: 20rem;
}

#bestBooksContainer{
    display: flex;
    flex-direction: column;
}

#bestScoreCard{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#bestScoreCard img{
    width: 2rem;
    height: 2rem;
}

.cardBody{
    display: grid;
    grid-template-columns: 25% 75%;
}

.cardLeftPart{
    border-style: dashed;
    border-color: #B2B0FF;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bookImg img{
    height: 10rem;
    width: 5rem;
}

.bookGenre ul li{
    margin-right: 3rem;
    font-size: 1.5rem;
    list-style-type: none;
}

.cardRightPart{
    display: flex;
    flex-direction: column;
}

.bookTitle{
    display: flex;
    justify-content: flex-start;
    font-size: 1.6rem;
}

.bookSummary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bookSummary h5{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.userProfile img{
    width: 2rem;
    height: 2rem;
}

.userRating{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.userRating img{
    width: 1rem;
    height: 1rem;
}

.username{
    display: flex;
    margin-left: 0.5rem;
}

.userInfo{
    display: flex;
    justify-content: center;
}

#topMenu{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}