body{
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 90%; 
}

.header{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #A74444;
}

#webpagelogo{
    grid-column-start: 1;
}

#webpagelogo img{
    width: 4rem;
    height: 4rem;
}

#navbar{
    display: flex;
    justify-content: center;
}

#navbar img{
    width: 4rem;
    height: 4rem;
}

#user{
    display: flex;
    justify-content: flex-end;
}

#user img{
    width: 4rem;
    height: 4rem;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: linear-gradient(#A74444, #FF6868);
}

#leftSideNavBar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#leftSideNavBar ul {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

#leftSideNavBar ul li img{
    width: 2rem;
    height: 2rem;
}

.body{
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
}

#usuarioInfo{
    display: grid;
    grid-template-rows: 20% 80%;    
}

#banner{
    width: 100%;
    background-image: url(../img/logo.png);
    margin-bottom: 0;
}

#userInfo{
    margin-top: 0;
    padding-top: 0;
    display: grid;
    grid-template-columns: 20% 80%;
}

#profilePicture img{
    height: 10rem;
    width: 10rem;
}

#nameAndNavbar{
    display: flex;
    flex-direction: column;
}

#navBar ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    column-gap: 1.5rem;
}

#navBar ul li img{
    width: 2rem;
    height: 2rem;
}

.cardsContainer{
    display: block;
    margin: 0;
    text-align: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.cardScroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.rightColumn{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(#A74444, #FF6868);
}

#favoritos{
    display: flex;
    flex-direction: row;
    align-items: center;    
}

#favoritos img{
    width: 10rem;
    height: 10rem;
}

.cardBody{
    border-style: dashed;
    border-color: #B2B0FF; 
    display: flex;
    flex-direction: column;
}

.cardLeftPart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardLeftPart img{
    width: 4rem;
    height: 2rem;
}

.userRating{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.userRating img{
    width: 1rem;
    height: 1rem;
}

.bookReviewTitle{
    display: flex;
    margin-left: 0.5rem;
}

.userInfo{
    display: flex;
    justify-content: center;
}

.friendCardBody{
    border-style: dashed;
    border-color: #B2B0FF; 
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}